@{
    ViewBag.Title = "About Tutorial Services";
}
<h2>@ViewBag.Title</h2>

<p>Tutorial Services offers a variety of tutoring experiences and services for students by students. Located on the second floor of Stevenson Library, the Wollock Learning Commons hosts two of Tutorial Services main centers, the Betty B. Shantz Tutorial Center and the Writing Center. The Betty B. Shantz Tutorial Center is where most tutors will host their sessions for students. These sessions typically last around an hour and are led by students that have previously taken the class and passed with a “B” or higher. The Writing Center is one of two drop-in centers available to students. Here students can meet with a tutor one-on-one and work on their writing for any class at any stage of the process. The other drop-in center is the Math Center which is located in Robinson room 409. This center allows for one-on-one math tutoring in many levels of mathematics. All of these services are completely free to all Lock Haven University students. To make an appointment, a student can make an appointment online through TutorTrac or they can meet with the Center Assistant on the learning commons!</p>
