@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    To contact Tutorial Services: <br/>

   (570) 560-7374 <br/>

    To contact Math Center: <br/>

    (570) 484-3023 <br/>

    To contact Writing Center: <br/>

    (570) 560-7374 <br/>

    Email: <a href="lhuwriting@lockhaven.edu">lhuwriting@lockhaven.edu</a> 
</address>

