@{
    ViewBag.Title = "Home Page";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("TutorTrac 2.0", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1>Welcome to TutorTrac 2.0!</h1>
    <p class="lead">This resource is designed to give students all the help they need to succeed!</p>
    <p><a href="https://localhost:44315/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            First time visiting? Register for an account and start learning today!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44315/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting Help</h2>
        <p>Login to set up an appointment with the tutor that is right for you.</p>
        <p><a class="btn btn-default" href="https://localhost:44315/Account/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Have Questions?</h2>
        <p>Have any problems or concerns? Feel free to reach out to us and we will help any way we can.</p>
        <p><a class="btn btn-default" href="https://localhost:44315/Home/Contact">Contact Us &raquo;</a></p>
    </div>
</div>